<<<<<<< HEAD
<li>{{#link-to 'question' question.id}}{{question.title}} by {{question.user}} on {{question.date}}{{/link-to}}
{{#if answerIsShowing}}
  <p>{{question.answer}}</p><button class="btn btn-sm btn-warning" {{action 'answerHide'}}>Hide Answer</button>
  {{else}}
  <button class="btn btn-sm btn-warning" {{action 'answerShow'}}></button>
  {{/if}}
</li>
=======
<li>{{#link-to 'question' question.id}}<li>{{question.title}} by {{question.user}} on {{question.date}}</li>{{/link-to}}</li>
>>>>>>> 65c4d25fb762ed69df67113e589d449c271a42b2
