<<<<<<< HEAD
<h2>{{question.title}}</h2>
<h4>{{question.user}}</h4>
<h4>{{question.date}}</h4>
<h3>{{question.body}}</h3>
<p>{{question.answer}}</p>

{{update-question question=model update="update"}}

{{answer.user}}<br>
{{answer.answer}}

<button class="btn btn-sm btn-danger" {{action 'delete' question}}>Delete</button>
=======
<h1 class="titletext">{{question.title}}</h1>
<h4 class="usertext">{{question.user}}</h4>
<h5 class="datetext">{{question.date}}</h5>
<h4 class="bodytext">{{question.body}}</h4>
{{edit-question question=question editQuestion="editQuestion"}}
<button {{action 'delete' question}}>Delete</button>

<p>{{answer.user}}</p>


{{new-answer submitAnswer="submitAnswer"}}
>>>>>>> 65c4d25fb762ed69df67113e589d449c271a42b2
