<h1 class="titletext">{{question.title}}</h1>
<h4 class="usertext">{{question.user}}</h4>
<h5 class="datetext">{{question.date}}</h5>
<h4 class="bodytext">{{question.body}}</h4>
{{edit-question question=question editQuestion="editQuestion"}}
<button {{action 'delete' question}}>Delete</button>
