<<<<<<< HEAD
<h2>{{question.title}}</h2>
<h4>{{question.user}}</h4>
<h4>{{question.date}}</h4>
<h3>{{question.body}}</h3>
{{update-question question=model update="update"}}
{{question-detail question=model destroyQuestion="destroyQuestion"}}
=======

<<<<<<< HEAD
{{question-detail question=model editQuestion="editQuestion" destroyQuestion="destroyQuestion" submitAnswer="submitAnswer"}}
=======
{{question-detail question=model editQuestion="editQuestion" destroyQuestion="destroyQuestion"}}
>>>>>>> 65c4d25fb762ed69df67113e589d449c271a42b2
>>>>>>> 7bbaae1c4c80609070d2a0cae156aa485a95b7fa
