<h1 class="titletext">{{model.question.title}}</h1>
<h4 class="usertext">{{model.question.user}}</h4>
<h5 class="datetext">{{model.question.date}}</h5>
<h4 class="bodytext">{{model.question.body}}</h4>
{{question-detail question=model editQuestion="editQuestion" destroyQuestion="destroyQuestion"}}
